.div1{
    width: 100%;
}
.td1{
    white-space: nowrap;
    border: none;
    background: none;
    
}
.del-btn{
    position: relative;
    right:7px;
    white-space: nowrap;
    border: none;
    background: none;
}
.edit{
    white-space: nowrap;
}
.h2{
    margin-bottom: 30px;
}
.thead{
    background-color: #CCCCCC;
}
.btn-1{
    background-color: white;
    position: relative;
    right: 190px;
    width: 100px;
    border-radius: 10px;
}
.btn-2{
    background-color: white;
    width: 100px;
    border-radius: 10px;
    position: relative;
    right: 100px;
}
.btn-1:hover{
    border-color: blue;
    border-width: 3.5px;
}
.btn-2:hover{
    border-color: blue;
    border-width: 3.5px;
}
.mdl-body{
    position: relative;
    left: 175px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: large;
}
.model{
    width: 50px;
}

.register-div{
    width:300px;
    position: relative;
    left: 600px;
    white-space: nowrap;
    margin-top: 400px;
    
}
.text{
    position: relative;
    right: 100px;
    
}
.register-btn{
    margin-top: 40px;
    position: relative;
    left: 99px;
    border-radius: 10px;
    background: #66FFFF;
    width: 160px;
}
.register-h1{
    margin-bottom: 80px;
    position: relative;
    left: -5px;
}
.modal-title{
    position: relative;
    left:95px;
}