

	



<!-- <h1>App Compenents</h1>


<app-welcome></app-welcome>

<app-login></app-login>

<app-login-succesful></app-login-succesful>

<app-register></app-register>

<app-register-succesful></app-register-succesful>

<app-users-management></app-users-management>

<app-group-chat></app-group-chat>

<app-docs-management></app-docs-management>

<app-log-out></app-log-out>

<app-edit></app-edit> -->

<div class="content">
 <span>dashboard app is running!</span>
</div>
<router-outlet></router-outlet>