.welcome{
    position: relative;
    left: 40rem;
  }
  .welcome-p1{
      position: relative;
      left: 6.5rem;
      margin-top: 35px;
  }
  .welcome-p2{
      position: relative;
      left: 7.5rem;
      margin-top: 35px;
  }
  .welcome-b1{
      position: relative;
      left: 5rem;
      border-radius: 10px;
      background: white;
      width: 150px;
      margin-top: 20px;
  }
  .welcome-b2{
      position: relative;
      left: 5rem;
      border-radius: 10px;
      background:white;
      width: 150px;
      margin-top: 20px;
  }
  .p3{
    margin-top: 50px;
    position: relative;
    left: 60px;
    font-weight: bold;
  }
  .welcome-h3{
    font-weight: bolder;
  }