.div1 {
    width: 100%;
}

.td1 {
    white-space: nowrap;
    border: none;
    background: none;

}

.edit {
    white-space: nowrap;
}

.h2 {
    margin-bottom: 30px;
}

.thead {
    background-color: #CCCCCC;
}

.btn-1 {
    background-color: white;
    position: relative;
    right: 260px;
    width: 100px;
    border-radius: 10px;
}

.btn-2 {
    background-color: white;
    width: 100px;
    border-radius: 10px;
    position: relative;
    right: 240px;
}

.btn-1:hover {
    border-color: blue;
    border-width: 3.5px;
}

.btn-2:hover {
    border-color: blue;
    border-width: 3.5px;
}

.mdl-body {
    position: relative;
    left: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: large;
}

.model {
    width: 50px;
}

.share-btn {
    position: relative;
    left: 108px;
    bottom: 25px;
    border-width: 0ch;
    white-space: nowrap;
    border: none;
    background: none;

}

.decr-tx {
    position: relative;
    left: -40px;
}

.intt-box {
    position: relative;
    right: -180px;
    top: -82px;
    width: 200%;
    border-radius: 5px;
}

.btn-11 {
    position: relative;
    right: 130px;
    width: 130px;
    border-radius: 10px;
    background-color: #B3B3B3;
}

.btn-22 {
    position: relative;
    right: 60px;
    width: 130px;
    border-radius: 10px;
    background-color: #B3B3B3;
}

.modal-title1 {
    position: relative;
    right: -190px;
    font-size: xx-large;
}

.del-22 {
    position: relative;
    border: none;
    right: -43px;
    bottom: 26px;
    background: none;
}

.sharebtn {
    position: relative;
    border: none;
    background: none;
    right: -40px;
    bottom: 26px;
}

.mdl-title22 {
    position: relative;
    left: 100px;
    font-size: x-large;
    text-align: center;
}

.mdl-body222 {
    position: relative;
    font-size: larger;
    text-align: center;
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-101 {
    position: relative;
    width: 100px;
    right: 160px;
    border-radius: 10px;
}

.btn-102 {
    position: relative;
    width: 100px;
    right: 120px;
    border-radius: 10px;
}

.btn-101:hover {
    border-color: blue;
    border-width: 3.5px;
}

.btn-102:hover {
    border-color: blue;
    border-width: 3.5px;
}

.del-121 {
    border: none;
    background: none;
    position: relative;
    left: 42px;
    bottom: 26px;
}

.upload-title {
    position: relative;
    right: -180px;
    font-size: x-large;
    font-weight: bold;
}

.upload-btn21 {
    border-radius: 7px;
    background-color: #66FFFF;
}

.mdl-btn32 {
    position: relative;
    left: -220px;
    border-radius: 5px;
    background-color: #B3B3B3;
}

.mdl-btn33 {
    position: relative;
    left: -200px;
    border-radius: 5px;
    width: 110px;
    background-color: #B3B3B3;
}

.upload-form {
    position: relative;
    right: -150px;
    bottom: 39px;
}

.inpt-file {
    position: relative;
    right: -120px;
    bottom: 40px;
}
.docxEditModel{
    width: 30px;
    margin-top: 20px;
}