.div-1{
    width: 100%;
    border: 2px solid black;
    text-align: center;
    height: 45px;
    margin-bottom: 20px;
}
.icon{
    
    position: relative;
    left: 738px;
    bottom: 35px;
    
}
.btn-1{
    background-color: white;
    position: relative;
    left: 50px;
    border-radius: 10px;
    font-weight: bolder;
}
.btn-2{
    background-color: white;
    position: relative;
    left: 100px;
    border-radius: 10px;
    font-weight: bolder;
}
.input-box{
    width: 66%;
    border-radius: 7px;
    height: 37px;
}
.div-3{
    position: relative;
    left:0px;
    margin-top: 200px;
    border: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}
.inner-div{
    position: relative;
    left: 100px;
}
.btn-1:hover{
   
    background-color: aqua;
}
.btn-2:hover{
    
    background-color: aqua;
}