<app-navbar></app-navbar>
<div class="div-1">
    <h2 class="h2">Edit User information</h2>
    <form [formGroup]="EditForm">
        <label for="" class="txt-1">Full Name &nbsp;&nbsp;</label>
        <input type="text" class="txtbox-1" formControlName="Fullname" placeholder="Fullname (required)"
            [ngClass]="{'is-invalid': (EditForm.get('Fullname')?.touched || EditForm.get('Fullname')?.dirty) && !EditForm.get('Fullname')?.valid}" />
        <span class="invalid-feedback">
            <span *ngIf="EditForm.get('Fullname')?.errors?.['required']"> Fullname cannot be blank </span>
        </span>
        <br>
        <label for="" class="txt-2">Email &nbsp;&nbsp;</label> <input type="email" class="txtbox-2"
            formControlName="Email" placeholder="Email (required)"
            [ngClass]="{'is-invalid': (EditForm.get('Email')?.touched || EditForm.get('Email')?.dirty) && !EditForm.get('Email')?.valid}" />
        <span class="invalid-feedback">
            <span *ngIf="EditForm.get('Email')?.errors?.['required']"> Email cannot be blank </span>
        </span>
        <br>
        <button type="submit" class="btn" [disabled]="!EditForm.valid" (click)="save()"><b>Submit</b></button>
    </form>

</div>