.register-div{
    width:300px;
    position: relative;
    left: 600px;
    white-space: nowrap;
    
}
.text{
    position: relative;
    right: 100px;
    
}
.register-btn{
    margin-top: 40px;
    position: relative;
    left: 83px;
    border-radius: 10px;
    background: #66FFFF;
    width: 200px;
}
.register-h1{
    margin-bottom: 60px;
    position: relative;
    left: 90px;
}