.Login-id{
    position: relative;
    left: 43rem;
}
.label1{
    margin-left:-87px;
    margin-top: 3rem;
    border-radius: 15px;
}
.label2{
    margin-left:-115px;
    margin-top: 3rem;
    border-radius: 10px;
}
.label-div{
    position: relative;
    left:-20px;
}
.login-btn{
    border-radius: 10px;
    background: #66FFFF;
    width: 120px;
    margin-top: 35px;
    margin-left: -10px;
}