
.nv-bar{
    margin-bottom: 90px;
}
.nav-btn-1{
    width: 25%;
    height: 45px;
    font-size: x-large;
    background-color: #BFBFBF;
}
.nav-btn-1:focus{
    background-color: white;
}